{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": [],
  "rules": {
    "max-len": 0,
    "linebreak-style": 0,
    "no-alert": "off",
    "no-param-reassign": [2, { "props": false }],
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ]
  }
}