@import "setting";
@import "edje";

#billing_city_field,
#shipping_city_field {
  select,
  .select2 { display: none; }

  &.form-row--select {
    select,
    .select2 { display: block; }
    input { display: none; }
  }
}

.select2-container {
  width: 100% !important;
}
