#billing_city_field select, #shipping_city_field select { display: none; }

#billing_city_field.form-row--select select, #shipping_city_field.form-row--select select { display: block; }

#billing_city_field.form-row--select input, #shipping_city_field.form-row--select input { display: none; }
